<div class="card ms-3 me-3 mt-3 text-center">
  <h5 class="card-header">Welcome!</h5>
  <div class="card-body">
    <h5 class="card-title">This is an example of a Spring Boot Angular scaffolding app</h5>
    <p class="card-text mt-4">
      Replace this 'home' component with whatever suits you <i class="bi bi-emoji-smile" aria-hidden="true"></i>
    </p>
  </div>
  <div class="card-footer mt-4">
    <a href="https://keepgrowing.in/" target="_blank" rel=noopener>
      keepgrowing.in
    </a>
  </div>
</div>
